
<html>
<head>

    <title>Contact List</title>
</head>
<body class="bg-light p-4">

    <div class="mb-4">
        <a href="/Contact/AddContact" class="btn btn-danger">Add Contact</a>
        <a href="/Home/Dashboard" class="btn btn-danger">Back</a>
    </div>

    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-body">

               
                @if (!string.IsNullOrEmpty(item.contact.PhotoPath))
                {
                    <img src="https://www.shutterstock.com/image-photo/passport-photo-portrait-woman-on-white-2438031869" alt="Contact Image" class="img-thumbnail mb-3" style="max-width: 150px;" />
                }

                <h5 class="card-title">@item.contact.Name</h5>
                <p class="card-text"><strong>Email:</strong> @item.contact.Email</p>
                <p class="card-text"><strong>Group:</strong> @item.contact.Groups</p>
                <p class="card-text"><strong>Address:</strong> @item.contact.Address</p>

                <div class="mb-2">
                    <strong>Phone Numbers:</strong>
                    @foreach (var phone in item.phones)
                    {
                        <div class="ms-3 mb-1">
                            <p class="mb-1">@phone.Number - @phone.SimCompany - @phone.Category</p>
                            <a href="/Phone/EditPhone/@phone.id" class="btn btn-success btn-sm">Edit Number</a>
                            <a href="/Phone/DeletePhone/@phone.id" class="btn btn-danger btn-sm">Delete Number</a>
                        </div>
                    }
                </div>

                <div>
                    <a href="/Phone/AddNumber/@item.contact.id" class="btn btn-primary btn-sm">Add Number</a>
                    <a href="/Contact/EditContact/@item.contact.id" class="btn btn-primary btn-sm" >Edit Contact</a>
                    <a href="/Contact/DeleteContact/@item.contact.id" class="btn btn-danger btn-sm">Delete Contact</a>
                </div>
            </div>
        </div>
    }

</body>
</html>

